/* 
[Color Palette Codes From Light To Dark]
    Background:
        #F6F1F1
        #AFD3E2
        #19A7CE
        #146C94
    Buttons:
        #F4EEE0
        #6D5D6E
        #4F4557
        #393646
*/
body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: #F6F1F1;
    color: white;
}

p {
    margin: 0;
}

input {
    font-family: 'Courier New', Courier, monospace;
    border-radius: 4px;
    font-size: 20px;
    padding-left: 8px;
}

h2 {
    font-size: 28px;
}

input:focus {
    outline: none;
}

img {
    border-radius: 8px;
    border: 2px solid black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

button{
    align-self: center;
    height: 40px;
    min-width: 72px;
    font-size: 20px;
    border-radius: 16px;
}

button, input[type=button], input[type=submit] {
    background-color: #EEEEEE;
    color: black;
}

button:hover, input[type=button]:hover, input[type=submit]:hover {
    background-color: #FFFFFF;
}

button:active, input[type=button]:active, input[type=submit]:active {
    background-color: #DDDDDD;
}

a {
    text-decoration: none;
    color: #EEEEEE;
    font-weight: bold;
    font-size: 28px;
}

a:hover {
    color: #FFFFFF;
}

a:active {
    color: #DDDDDD;
}

header a:hover, .tag:hover {
    color: #FF6000;
}

header a:active, .tag:active {
    color: #DD6000;
}

.current-page {
    text-decoration: underline;
}

header {
    background-color: #146C94;
    min-height: fit-content;
    padding: 8px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: 24px;
}

header h1 {
    margin: 0px;
    align-self: center;
}

#search-form {
    justify-self: stretch;
    align-self: center;
}

#search-field {
    width: 76%;
    height: 28px;
}

#search-button {
    width: 18%;
    height: 34px;
}

nav {
    align-self: center;
}

nav a {
    padding: 0px 24px;
}

/* header ends */

#content {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

#social-suggestions h2, .full-page-link {
    text-align: center;
}

.full-page-link a {
    font-size: 24px;
}

#feed {
    background-color: #AFD3E2;
    height: 100%;
    border: 1px solid white;
    border-top: 0px;
    border-bottom: 0px;
}

/* content ends */

#submit-post {
    display: grid;
    grid-template-columns: 70px 1fr;
    padding: 8px;
    column-gap: 8px;
    align-items: center;
}

#submit-post-inputs {
    display: grid;
    grid-template-columns: 10fr 1fr;
    align-items: center;
    row-gap: 2px;
    column-gap: 8px;
}

#submit-post input {
    height: 28px;
    margin-top: 2px;
}

/* Submit post ends here */

#social-suggestions {
    background-color: #19A7CE;
    padding-bottom: 16px;
}

#social-suggestions li {
    margin-bottom: 8px;
    margin-left: 8px;
    padding: 0px 8px 8px 8px;
}

.user-to-add {
    display: grid;
    grid-template-columns: 70px 4fr 1fr;
    column-gap: 8px;
}
.user-to-add h4 {
    font-size: 24px;
    align-self: center;
    margin: 0;
}
.user-to-add img, #submit-post img, .post-author-pic, .post-dropdown-icon{
    width: 64px;
    height: auto;
    max-height: 96px;
}

#recent-posts {
    display: grid;
    grid-template-columns: auto;
}

.post {
    background-color: #EEEEEE;
    color: #111111;
    padding: 8px 8px 16px 0px;
    border-radius: 16px;
    margin: 8px 16px;
}

.post-meta-data {
    display: grid;
    grid-template-columns: 70px 1fr 70px;
    align-items: center;
    padding: 8px 8px;
    column-gap: 8px;
}

.post-author-name {
    font-weight: bold;
    font-size: 24px;
}

.tag {
    color: #222222;
    font-size: 18px;
}

.post-image {
    max-width: 768px;
    justify-self: center;
}
.post-text {
    padding-left: 76px;
    margin: 8px 0px;
}
.post-data {
    display: grid;
    grid-template-columns: auto;
}

.post-dropdown-icon {
    border: 0px;
    width: 28px;
    height: 20px;
    margin-left: 32px;
}

.post-reaction-controls {
    display: grid;
    grid-template-columns: auto 1fr auto;
    margin: 8px 80px;
    gap: 16px;
}

.heart-post {
    width: 48px;
    border: 0px;
}

.post-comment {
}