body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: #F6F1F1;
}

input {
    font-family: 'Courier New', Courier, monospace;
    border-radius: 4px;
    font-size: 20px;
    padding-left: 8px;
}

input:focus {
    outline: none;
}

img {
    border-radius: 8px;
    border: 2px solid black;
}

header {
    background-color: #19A7CE;
    color: white;
    min-height: fit-content;
    padding: 8px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: 24px;
}

header h1 {
    margin: 0px;
    align-self: center;
}

#search-form {
    justify-self: stretch;
    align-self: center;
}

#search-field {
    width: 76%;
    height: 28px;
}

#search-button {
    width: 18%;
    height: 34px;
}

nav {
    align-self: center;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 28px;
    padding: 0px 24px;
}

/* header ends */

#feed {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#submit-post {
    background-color: #AFD3E2;
    display: grid;
    grid-template-columns: 70px 1fr;
    padding: 8px;
    column-gap: 8px;
    align-items: center;
}

#submit-post img {
    width: 64px;
}

#submit-post-inputs {
    display: grid;
    grid-template-columns: 10fr 1fr;
    align-items: center;
    row-gap: 2px;
    column-gap: 8px;
}

#submit-post input {
    height: 28px;
    margin-top: 2px;
}
